@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body{
    background-color: #0c4a6e;
    font-family:'Nunito', sans-serif;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid white;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 2rem   ;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}


input{
    width: 20%;
    min-height: 3vh;
    font-family:'Nunito', sans-serif;
    font-size: 1.5rem;
}

label{
    font-size: 1.2rem;
    
}

button{
    border: 2px solid black;
    color: black;
    font-weight: bold;
    width: 20%;
    min-height: 3vh;
}



#output-box{
    width: 20%;
    min-height: 20vh;
    border: 2px solid black;
    padding: 1rem;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 15px;
}